sounddevice
google-genai
google-generativeai
Pillow
requests
beautifulsoup4
duckduckgo-search
ddgs
playwright
pyautogui
pyperclip
pygetwindow
opencv-python
numpy
mss
psutil
comtypes
pycaw
win10toast
send2trash
youtube-transcript-api
pywinauto
pyaudio
openai
pyttsx3
SpeechRecognition
transformers
torch
fastapi
uvicorn
accelerate
pytesseract
